*{
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100%;
}

header{
    background-color: yellow;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

main{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

footer{
    background-color: yellow;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-logo{
    color: #00008b;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
}

.div-header{
    display: flex;
    padding: 10px;
    align-items: center;
}

.img-logo{
    width: 20px;
    height: 20px;
}

.barra-pesquisa{
    border-radius: 10px;
    border-color: rgb(200, 200, 200);
    padding: 5px;
    width: 400px;
    height: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner-ofertas{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.lista-produtos{
    display: flex;
    gap: 15px;
}

.produto{
    background-color: #eeeeee;
    border-radius: 5px;
    border: 3px solid #eeeeee;
    width: 250px;
}

.img-produto{
    width: 250px;
    height: 250px;
}

.img-banner{
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.div-footer{
    padding: 20px;
    display: flex;
}

.entre-em-contato{
    color: #00008b;
    font-size: 20px;
    font-family: sans-serif;
}

#contato-nome{
    background-color: #eeeeee;
    border-radius: 5px;
    width: 400px;
}

#contato-email{
    background-color: #eeeeee;
    border-radius: 5px;
    width: 400px;
}

#contato-mensagem{
    background-color: #eeeeee;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

.footer-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-centro{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-direita{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.produto-link{
    text-decoration: none;
    color: inherit;
}

.apresentacao-produto{
    display: flex;
    flex-direction: column;
    width: 1500px;
}

.voltar{
    margin-bottom: 20px;
    margin-left: 10px;
}

.voltar-botao{
    text-decoration: none;
}

.produto-conteudo{
    display: flex;
    flex-direction: row;
}

.titulo-produto{
    display: flex;
}

.preco{
    margin-top: 10px;
    margin-bottom: 10px;
}

.avaliacoes-botao{
    text-decoration: none;
    color:  #3483fa;
}

.info-produto{
    padding: 20px;
    width: 500px;
}

.desc-produto{
    font-size: large;
    margin-bottom: 20px;
}

.detalhes-produto{
    padding: 10px;
}

.compra-produto{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.frete{
    height: 50px;
}

.frete-gratis{
    background-color: #00a650;
    color: #ffffff;
    width: 120px;
    padding: 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.botao-quantidade{
    margin-top: 20px;
    margin-bottom: 20px;
}

.selecionar-qntd{
    padding: 8px 8px 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    background-color: #fff;
}

.btn-comprar{
    padding: 20px;
    margin: 5px;
    border-color: #3483fa;
    background-color: #3483fa;
    border-radius: 20px;
    color: #ffffff;
    font-size: large;
}

.btn-carrinho{
    padding: 20px;
    margin: 5px;
    border-color: rgba(65, 137, 230, .2);
    background-color: rgba(65, 137, 230, .2);
    border-radius: 20px;
    color: #3483fa;
    font-size: large;
}

#vendedor{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.vendido-por{
    display: flex;
    flex-direction: column;
    padding: 10px;
}



.avaliacoes-produto{
    display: flex;
    flex-direction: column;
    width: 1500px;
    padding: 20px;
}

.avaliacoes-titulo{
    display: flex;
}

.avaliacao{
    padding: 20px;
}
