*{
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100%;
}

header{
    background-color: yellow;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

main{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

footer{
    background-color: yellow;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-logo{
    color: #00008b;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
}

.div-header{
    display: flex;
    padding: 10px;
    align-items: center;
}

.img-logo{
    width: 20px;
    height: 20px;
}

.barra-pesquisa{
    border-radius: 10px;
    border-color: rgb(200, 200, 200);
    padding: 5px;
    width: 400px;
    height: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner-ofertas{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.lista-produtos{
    display: flex;
    gap: 15px;
}

.produto{
    background-color: #eeeeee;
    border-radius: 5px;
    border: 3px solid #eeeeee;
    width: 250px;
}

.img-produto{
    width: 250px;
    height: 250px;
}

.img-banner{
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.div-footer{
    padding: 20px;
    display: flex;
}

.entre-em-contato{
    color: #00008b;
    font-size: 20px;
    font-family: sans-serif;
}

#contato-nome{
    background-color: #eeeeee;
    border-radius: 5px;
    width: 400px;
}

#contato-email{
    background-color: #eeeeee;
    border-radius: 5px;
    width: 400px;
}

#contato-mensagem{
    background-color: #eeeeee;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

.footer-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-centro{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-direita{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}